@model Visualization

<h2>Visualization project</h2>

<div>
    
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Create New Visualization</legend>
            <div class="editor-label">
                @Html.TextBoxFor(model => model.name);
            </div>
            <div>
                <input type="submit" value="New Visualization" />
            </div>
        </fieldset>
    }

</div>