@{
    ViewBag.Title = "DataSourceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<@using (Html.BeginForm("CategoryChosen", "DataSource", FormMethod.Get)) {
    <fieldset>
            Movie Type
                    @Html.DropDownList("MovieType")
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
} 


